/* Seção Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.limitar-secao{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
/* Seção Topo */
.container-topo{
    position: relative;
    padding: 35px 0px;
}
.topo-logo{
    position: relative;
}
.topo-logo div{
    position: absolute;
    top: 0;
    left: 95px;
}
.topo-links{
    position: absolute;
    right: 0;
    top: 65px;
}
.topo-links a{
    padding: 10px;
    text-decoration: none;
}
.container-topo img{
    width: 85px;
}
.container-topo p{
    font-size: 16px;
    color: #2f86d6;
}
h1{
    font-size: 32px;
    color: #000000;
}
a{
    font-size: 18px;
    color: #233032;
}
/* Seção Banner */
.secao-banner{
    height: 500px;
    background-color: #2f86d6 ;
}
.container-banner{
    position: relative;
}
.secao-banner img{
    position: absolute;
    right: 0;
    width: 350px;
    top: 100px;
}
.secao-banner p{
    width: 350px;
}
.texto-banner{
    position: absolute;
    top: 200px;
    margin-top: -50px
}
.texto-banner h2{
    font-size: 28px;
    width: 700px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.secao-banner, .secao-primeiro-anuncio p{
    font-size: 16px;
    color: #fff;
}
h2{
    color: #fff;
}
/* Seção Primeiro Anúncio */
.secao-primeiro-anuncio{
    background-color: #233032;
    height: 130px;}
.container-primeiro-anuncio{
    position: relative;
}
.container-primeiro-anuncio a{
    position: absolute;
    top: 40px;
    right: 0;
    color: #fff;
    background-color: #2f86d6;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: -8px;
}
.texto-anuncio{
    position: absolute;
    top: 35px;
}
/* Seção Informações*/
.secao-informacoes{
    background-color: #fff;
    padding: 100px 0px;
    text-align: center;
    height: 500px;
}
.secao-informacoes h3{
    font-size: 32px;
    margin: 0px auto 60px;
    width: 900px;
}
.texto-azul{
    color: #2f86d6;
}
.container-informacoes img{
    width: 100px;
}
.container-informacoes{
    position: relative;
}
.container-informacoes div{
    position: absolute;
    width: 33%;
    top: 0;
}
.card2{
    left: 335px;
}
.card3{
    right: 0;
}
/* Seção Planos */
table img{       
    width: 100px;
}
.secao-planos h2{
    color: #000000;
    font-size: 32px;
    text-align: center;
    padding: 40px;
}
.secao-planos h3{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.secao-planos p{
    max-width: 150px;
    margin: auto;
    padding-top: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #a89f9f;
    
}
.linha-impar{
    font-size: 16px;
    background-color: #F6f6f6;
}
.linha-par{
    font-size: 16px;
    background-color: #f1f3f7;
}
table tbody td {
    text-align: center;
    line-height: 50px;
    width: 250px;
    max-width: 1024px;
    font-weight: 500;
    padding: 15px;
}
table{
    border-radius: 4px;
    margin: auto;
    box-shadow: 0px 2px 40px 15px rgba(47,134,214,1);
    margin-bottom: 50px;
}
/* Seção Segundo Anúncio */
.secao-segundo-anuncio{
    background-color: #2f86d6;
    height: 130px;}
.secao-segundo-anuncio{
    position: relative;
}
.container-segundo-anuncio{
    position: relative;
}
.secao-segundo-anuncio a{
    position: absolute;
    top: 40px;
    right: 0;
    color: #fff;
    background-color:#233032;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: -8px;
}
.container-segundo-anuncio h2{
    font-size: 24px;
    position: absolute;
    top: 35px;
    width: 550px;
}
/* Seção Rodapé */
.rodape-logo {
    width: 320px;
    position: relative;
    margin: 70px auto 40px;
}
.rodape-logo img{
    width: 85px;    
}
.rodape-logo div{
    position: absolute;
    left: 95px;
    top: 5px;
}
.container-contato{
    text-align: center;
    color: #000000;
    line-height: 30px;
}
.container-copyright{
    text-align: center;
    margin: 40px;
}